* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Sikre at baggrunden er full screen  */
#background {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
#background img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Sørger for, at billedet fylder uden at deformeres */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Sørger for at baggrunden ligger bag overlay */
}


.overlay.game.container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}


h1 {
  font-family: exo 2, sans-serif;
  font-size: 4rem;
  color: #12D7E1;
  text-align: center;
  animation: pulseGlow 2s infinite;
  margin-bottom: 20px;
  margin-top: 100px;
}

#player img {
  width: 80px; /* eller procent, fx 5% af skærmen */
  height: auto;
  display: block;
  position: relative;
  z-index: 2; /* Så den ligger over baggrunden */
}

#drag-element {
  position: absolute;
  bottom: 20px; /* fast afstand fra bunden */
  left: 50px;   /* startposition vandret */
  cursor: grab;
  z-index: 2;
  touch-action: none; /* Forhindrer standard touch-scroll */
}

#drag-element img {
  width: 80px;
  height: auto;
  display: block;
}